* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  width: 10%;
  height: 10%;
  color: white;
  /* border: 1px solid green; */
}


.active{
  background-color: aqua;
  box-shadow: inset 0px 0px 2px 2px rgba(253, 16, 16, 0.75);
  color: black
}

.inactive{
  background-color: blue;
  color: black
}
.border{
  background-color: gray;
}
.destroy{
  background-color: crimson;
}