* {
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background: linear-gradient(233deg, #2d9ba7, #3bd40e, #d40ecd, #eaa00a);
  background-size: 800% 800%;
  animation: gradient 8s ease infinite;


}

.sidebar{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  color: black;
  justify-content: space-around;
  align-content: space-between;
  background-color: rgba(44, 44, 44, 0.308);
  margin-right: 2.5%;

}

h3{
  margin: 0px;
}


.grid {
 
  display: flex;
  flex-direction: row;
  box-shadow: inset 0px 0px 150px 11px rgba(0,0,0,0.78);
  border: 5px solid green;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.192);
  animation: wobbleStatic 5s ease infinite;
  


}
iframe{
  display: flex;
  opacity: 75%;

}
main{
  
  display: none;
  justify-content: space-evenly;
  flex-direction: row;
}
menu span{
  font-family: 'Bungee Outline';
  text-align: center;
  font-size: 100px;
}
.sideText{

  display: flex;

  height: 25px;
  width:25%;
  margin-left: 2%;
  flex-direction: column;

}
h2{

  text-align: right;
}
.cell {
  
  width: 5%;
  height: 5%;
  color: white;
  border: 1px solid green;
  box-shadow: inset 0px 0px 2px 2px rgba(0, 128, 0, 0.459);
}

menu{
  display: flex;
  flex-direction: column;


}

.gamemode{
  flex-direction: column;
}
.buttoncontrol{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.sidemenu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 10%;
  border-radius: 10px solid blue;

  margin:4%;
  margin-left: 35%;
}
button{
  font-family: 'Sora', sans-serif;
  font-size: 20px;
  background-color: rgb(167, 167, 167);
  display: flex;
  margin:2.5%;
  height: 50px;
  width: 200px;
  padding:3.5%;
  text-align: center;
  align-items: center;

  
}
aside{
  background-color: rgba(128, 128, 128, 0.445);
  display: flex;

  margin-left: 5%;
  width: 600px;
  text-align: center;
  align-items: center;

}

a{

  text-align: center;
  color: white;
}

.active{
  background-color: aqua;
  box-shadow: inset 0px 0px 2px 2px rgb(253, 16, 16);
  color: black
}

.inactive{
  background-color: rgba(0, 0, 255, 0.068);
  /* animation: pulse 3s ease infinite; */
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.78);
  color: black
}
.border{
  /* box-shadow: inset 0px 0px 2px 3px rgba(0,0,0,0.78);
  background-color: gray; */
  background-color: rgba(0, 0, 255, 0.068);
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.78);
  color: black
}
.destroy{
  background-color: rgba(220, 20, 60, 0);
  animation: pulse 0.5s ease infinite;
}
.fakeInactive{
  background-color: rgba(0, 0, 255, 0.068);
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.78);
  color: black
}

.upNext{
  background-color: aqua;
  box-shadow: inset 0px 0px 2px 2px rgba(253, 16, 16, 0.75);
  color: black
}

@keyframes gradient {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes wobbleStatic {
  0%{transform: rotate(0deg)}
  25%{transform: rotate(0deg)}
  50%{transform: rotate(0deg)}
  75%{transform: rotate(0deg)}
  100%{transform: rotate(0deg)}
}

@keyframes wobble {
  0%{transform: rotate(0deg)}
  25%{transform: rotate(90deg)}
  50%{transform: rotate(-180deg)}
  75%{transform: rotate(90deg)}
  100%{transform: rotate(0deg)}
}

@keyframes pulse{
  0%{background-color: rgba(220, 20, 60, 0)}
  50%{background-color: rgb(220, 20, 30)}
  100%{background-color: rgba(220, 20, 60, 0)}
}