* {
  box-sizing: border-box;
}

body {
  font-family: 'Staatliches', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  animation: pulseBtW 12s ease infinite;
}
span h1{
  font-size: 70px;
  text-decoration: underline;
}
main{
  display: none;
  flex-direction: column;
}
a{
  text-align: center;
  margin-top: 6%;
  color:black;
}
.grid {
  font-size: xx-small;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 450px;
  height: 450px;
  flex-wrap: wrap;
}

.cell {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
  margin: 0;
  width: 10%;
  height: 10%;
  border: 2px solid  gray;
}
h4{
  font-size: 25px;
}
.mine{
  background-color: darkred;
}
.empty{
  background-color: darkgreen;
}
.shine{
  box-shadow: inset 0px 0px 5px 2px rgba(196,133,25,0.81);
}
.flag{
  background-image: url('https://lh3.googleusercontent.com/proxy/kaHu43AQgFcYEIljI499FzKGVFYCidrsB2qm_asVuToIh1gwz20t5dOn39a3R45NLcp-XTHM9xnP4OThQcTpjTOchH0rAoWrlly2URWfasexK0mZB3CjrgexrIcwnSnBRzgBiWY-MyecVWl8gVvz0GIoKaZnVg');
  background-size: cover;
}
span{
  display: flex;
  justify-content: right;
  align-items: right;
  flex-direction: column;

}
h3{
  font-size: 25px;
}
.titles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selectables button{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  width: 75%;
  padding: 10px;
}
.selectables{
  display: flex;
  flex-direction: row;
}
.UI{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reset{
  margin-top: 3%;
  margin-right: 0%;
  margin-bottom: 3%;
}
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
@keyframes pulseWtB{
  0%{background-color: white}
  50%{background-color: black}
  100%{background-color: white;}
}
@keyframes pulseBtW{
  0%{background-color: rgb(179, 179, 179)}
  50%{background-color: white}
  100%{background-color: rgb(179, 179, 179);}
}